/* styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: rgb(194, 102, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.526);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    padding: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 500px;
    height: 500px;
}

label {
    font-size: 1.5rem;
}

span {
    margin: 10px;
    font-size: 2rem;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 7px 10px rgba(255, 166, 0, 0.353);
}